on:
  workflow_call:
    inputs:
      environment:
        description: The GitHub environment to use
        type: string
        required: true
    secrets:
      ZPA_CLIENT_ID:
        required: true
      ZPA_CLIENT_SECRET:
        required: true
      ZPA_CUSTOMER_ID:
        required: true
      ZPA_CLOUD:
        required: true
      TF_ACC:
        required: true

jobs:
  zpa-test:
    environment: ${{ inputs.environment }}
    strategy:
      matrix:
        go-version: [1.19]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
        id: go
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '>=0.13.x'
          terraform_wrapper: false

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Download Go Dependencies
        run: |
          go mod tidy && go mod vendor

      - name: Set ZPA Credentials
        env:
          ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
          ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
          ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
          ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
          TF_ACC: ${{ secrets.TF_ACC }}
        run: |
          make build
          make test