name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # For systems with an upstream API that could drift unexpectedly (like most SaaS systems, etc.),
  # we recommend testing at a regular interval not necessarily tied to code changes. This will
  # ensure you are alerted to something breaking due to an API change, even if the code did not
  # change.

  schedule:
    - cron: '0 13 * * 1-5' # UTC
  workflow_dispatch:

jobs:
  zpa-qa-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_QA_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      TF_ACC: ${{ secrets.TF_ACC }}
      ZPA_ACC_TEST_FORCE_SWEEPERS: ${{ secrets.ZPA_ACC_TEST_FORCE_SWEEPERS }}

  zpa-qa-tenant02:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_QA_TENANT02
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      TF_ACC: ${{ secrets.TF_ACC }}
      ZPA_ACC_TEST_FORCE_SWEEPERS: ${{ secrets.ZPA_ACC_TEST_FORCE_SWEEPERS }}

  # zpa-qa2-tenant01:
  #   uses: ./.github/workflows/reuse-zpa-tests.yml
  #   with:
  #     environment: ZPA_QA2_TENANT01
  #   secrets:
  #     ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
  #     ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
  #     ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
  #     ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
  #     TF_ACC: ${{ secrets.TF_ACC }}
  #     ZPA_ACC_TEST_FORCE_SWEEPERS: ${{ secrets.ZPA_ACC_TEST_FORCE_SWEEPERS }}

  # zpa-qa2-tenant02:
  #   uses: ./.github/workflows/reuse-zpa-tests.yml
  #   with:
  #     environment: ZPA_QA2_TENANT02
  #   secrets:
  #     ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
  #     ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
  #     ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
  #     ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
  #     TF_ACC: ${{ secrets.TF_ACC }}
  #     ZPA_ACC_TEST_FORCE_SWEEPERS: ${{ secrets.ZPA_ACC_TEST_FORCE_SWEEPERS }}

  zpa-beta-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_BETA_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      TF_ACC: ${{ secrets.TF_ACC }}
      ZPA_ACC_TEST_FORCE_SWEEPERS: ${{ secrets.ZPA_ACC_TEST_FORCE_SWEEPERS }}
    needs:
      - zpa-qa-tenant01
      - zpa-qa-tenant02
      # - zpa-qa2-tenant01

  zpa-prod-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_PROD_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      TF_ACC: ${{ secrets.TF_ACC }}
      ZPA_ACC_TEST_FORCE_SWEEPERS: ${{ secrets.ZPA_ACC_TEST_FORCE_SWEEPERS }}
    needs:
      - zpa-qa-tenant01
      - zpa-qa-tenant02
      # - zpa-qa2-tenant01
      - zpa-beta-tenant01
